doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Fluid Booking Form UX/UI
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900' rel='stylesheet')
    link(rel='stylesheet', href='https://public.codepenassets.com/css/reset-2.0.min.css')
    link(rel='stylesheet', href='style.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  body
    .wrap
      .instructions
        .first Choose a medical test
      .staff
        .member
          .avatar(style='background-image: url(https://images.unsplash.com/photo-1579154204601-01588f351e67?w=300&h=300&fit=crop)')
          .name Blood Test
          .deselect-member change
          .deselect-date change
          .deselect-slot change
          .calendar
          ul.slots
          form.form
            label Name
            input(type="text" name="name" required)
            label Email
            input(type="email" name="email" required)
            input(type="submit" value="Confirm Booking")
          .confirm-message Booking Complete!
            span.restart Book Again?
        .member
          .avatar(style='background-image: url(https://images.unsplash.com/photo-1530497610245-94d3c16cda28?w=300&h=300&fit=crop)')
          .name X-Ray Imaging
          .deselect-member change
          .deselect-date change
          .deselect-slot change
          .calendar
          ul.slots
          form.form
            label Name
            input(type="text" name="name" required)
            label Email
            input(type="email" name="email" required)
            input(type="submit" value="Confirm Booking")
          .confirm-message Booking Complete!
            span.restart Book Again?
        .member
          .avatar(style='background-image: url(https://images.unsplash.com/photo-1559757175-5700dde675bc?w=300&h=300&fit=crop)')
          .name MRI Scan
          .deselect-member change
          .deselect-date change
          .deselect-slot change
          .calendar
          ul.slots
          form.form
            label Name
            input(type="text" name="name" required)
            label Email
            input(type="email" name="email" required)
            input(type="submit" value="Confirm Booking")
          .confirm-message Booking Complete!
            span.restart Book Again?
        .member
          .avatar(style='background-image: url(https://images.unsplash.com/photo-1581595220892-b0739db3ba8c?w=300&h=300&fit=crop)')
          .name Ultrasound
          .deselect-member change
          .deselect-date change
          .deselect-slot change
          .calendar
          ul.slots
          form.form
            label Name
            input(type="text" name="name" required)
            label Email
            input(type="email" name="email" required)
            input(type="submit" value="Confirm Booking")
          .confirm-message Booking Complete!
            span.restart Book Again?

    a(href="http://nathan.tokyo" target="_blank").sig NATHAN.TOKYO

    script(src='script.js')
